@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.text-h0 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

.text-h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
}

.text-h2 {
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}

.text-h3 {
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
}

.text-h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.text-h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.text-h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.text-t0 {
  font-size: 26px;
  line-height: 36px;
}

.text-t1 {
  font-size: 18px;
  line-height: 24px;
}

.text-t2 {
  font-size: 16px;
  line-height: 22px;
}

.text-t3 {
  font-size: 14px;
  line-height: 20px;
}

.text-t4 {
  font-size: 12px;
  line-height: 18px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

body {
  overflow: hidden;
  margin-right: 10px;
}

.plans-table {
  display: flex;
  gap: 20px;
  max-width: 1180px;
  margin: 50px auto;
}
.plans-table.mobile {
  flex-wrap: wrap;
  padding: 0 30px;
  gap: unset;
}
@media (max-width: 1200px) {
  .plans-table.pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .plans-table.mobile {
    display: none;
  }
}
.plans-table-column {
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 160px;
}
.plans-table-column .divider {
  color: rgba(24, 24, 24, 0.4);
  font-size: 14px;
  line-height: 20px;
}
.plans-table-column:first-of-type {
  min-width: 280px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .plans-table-column:first-of-type .column-options:not(:first-of-type) {
    display: none;
  }
}
@media (max-width: 1200px) {
  .plans-table-column {
    width: 100%;
    gap: unset;
    margin-bottom: 10px;
  }
  .plans-table-column.base {
    margin-bottom: 40px;
  }
}

.column-title {
  font-size: 26px;
  line-height: 36px;
}
@media (max-width: 1200px) {
  .column-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    min-width: 150px;
  }
  .column-title.plan {
    font-weight: 400;
    letter-spacing: -1px;
  }
  .column-title .arrow-down-icon {
    max-width: 13px;
    max-height: 13px;
    transition: transform 0.2s linear;
  }
}
.column-price {
  display: flex;
  align-items: flex-end;
  height: 65px;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .column-price {
    height: auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    max-width: 86px;
    width: 100%;
    justify-content: flex-end;
  }
}
.column-rests-count {
  min-width: 44px;
  font-size: 16px;
  line-height: 22px;
}
.column-rests-count .restaraunt-icon {
  width: 20px;
}
@media (max-width: 1200px) {
  .column-rests-count {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.column-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.column-options.icon {
  align-items: flex-start;
}
.column-options .option-check {
  display: flex;
  align-items: center;
  font-weight: 400;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 16px;
  line-height: 22px;
}
.column-options .option-check.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.column-options .option-check.info .info-icon {
  cursor: pointer;
}
.column-options .option-check.base {
  justify-content: space-between;
  gap: 40px;
}
.column-options .option-check.base .info-icon {
  width: 22px;
  height: 22px;
}
.column-options .option-check.base .content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.column-options .divider {
  min-height: 20px;
}
.column-options .bills-period {
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  gap: 20px;
  font-size: 14px;
  line-height: 20px;
}
.column-options .bills-period .period-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  cursor: pointer;
}
.column-options .bills-period .period-item.active {
  font-weight: 700;
  border-color: #f56e5a;
}
@media (max-width: 1200px) {
  .column-options .bills-period .period-item {
    flex-direction: row-reverse;
  }
}
.column-options .bills-period .discount {
  color: #f56e5a;
  font-size: 26px;
  line-height: 36px;
}
@media (max-width: 1200px) {
  .column-options .bills-period .discount {
    font-size: 14px;
    line-height: 20px;
  }
}
.column-options .restaraunt-icon {
  display: block;
  max-height: 22px;
}
@media (max-width: 1200px) {
  .column-options {
    gap: 15px;
  }
}
.column-header {
  position: sticky;
  min-height: 48px;
  height: 100%;
  will-change: position;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(24, 24, 24, 0.1);
  background: #ffffff;
  z-index: 1;
  cursor: pointer;
}
.column-header.expanded .arrow-down-icon {
  transform: rotate(180deg);
}
.column-header.is-pinned {
  border-color: transparent;
}
.column-header.is-pinned::before {
  content: "";
  width: 100vw;
  height: 1px;
  background: rgba(24, 24, 24, 0.1);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll {
  overflow-y: auto;
  margin-right: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(24, 24, 24, 0.2);
  border: solid 3px transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(24, 24, 24, 0.5);
  border: solid 3px transparent;
  border-radius: 15px;
}/*# sourceMappingURL=index.css.map */