//COLORS
$light-red: #ff8577;
$red: #f56e5a;
$dark-red: #e85d41;
$green: #a1cf4d;
$dark-green: #0fa958;
$darkest-green: #009846;
$yellow: #ffc466;
$dark-yellow: #f2af43;
$purple: #c7b9ff;
$dark-purple: #a25aff;
$blue: #699bf7;
$dark-blue: #5551ff;
$light-beige: #f5f5f2;
$beige: #f1f0ec;
$black: #181818;
$white: #ffffff;
$disabled: #f1f0ec;

$border-color: rgba($black, 0.15);

$baseColor: #322a00;
$baseColorLighten: rgba($baseColor, 0.07);
$baseColorDarker: rgba($baseColor, 0.3);
$baseColorMedium: rgba($baseColor, 0.15);

$hoverOverlayColor: rgba(#000000, 0.05);

$redColorLighten: rgba($red, 0.25);
