$breakpoints: (
  mobile: 0px,
  tablet: 768px,
  tabletUp: 1024px,
  desktop: 1440px,
);

@mixin media-tablet {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin media-tablet-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin media-tablet-only {
  @media (min-width: 720px) and (max-width: 1023px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: 719px) {
    @content;
  }
}

@mixin media-mobile-up {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin media-mobile-only {
  @media (min-width: 0) and (max-width: 719px) {
    @content;
  }
}
